<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.GoodsMapper">

	<!-- 문의게시판 전체 리스트 보기 -->
	<select id="inquiryList" resultType="BoardDTO" parameterType="hashmap">
		select num, category, title, to_Char(writeday, 'yyyy/mm/dd') writeday, readcnt, userid, state, open
		from board
		where state in('답변완료','처리중')
		<if test="searchCategory != null">
			and category = #{searchCategory}
		</if>
		<choose>
			<when test="searchName == 'title'">
				and title Like '%' ||  #{searchWord} || '%'
			</when>
			<when test="searchName == 'content'">
				and content Like '%' ||  #{searchWord} || '%'
			</when>
		</choose>
		order by num desc
	</select>

	<!-- 문의 게시판 전체리스트 수 -->
	<select id="inquiryList_totalCount" parameterType="hashmap" resultType="int">
		select count(*)
		from board
		where state in('답변완료','처리중')
		<if test="searchCategory != null">
			and category = #{searchCategory}
		</if>
		<choose>
			<when test="searchName == 'title'">
				and title Like '%' ||  #{searchWord} || '%'
			</when>
			<when test="searchName == 'content'">
				and content Like '%' ||  #{searchWord} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 문의글 작성하기 -->
	<insert id="inquiryWrite" parameterType="BoardDTO">
		insert into
		board(num, category, title, content, userid, open, gCode)
		values (board_seq.nextval, #{category}, #{title}, #{content}, #{userId}, #{open}, #{gCode})
	</insert>
	
	<!-- 문의글 자세히 보기 -->
	<select id="inquiryRetrieve" parameterType="int" resultType="BoardDTO">
		select num, category, title, content, to_Char(writeday, 'yyyy/mm/dd') writeday, readcnt, userid, state, open, gCode
		from board
		where num = #{num}
	</select>
	<update id="inquiryReadCnt" parameterType="int">
		update board
		set readCnt = readCnt +1
		where num = #{num}
	</update>
	
	<!-- 문의글 수정하기 -->
	<update id="inquiryUpdate" parameterType="BoardDTO">
		update board
		set category = #{category}, title = #{title}, content = #{content}, open = #{open}
		where num = #{num}
	</update>
	
	<!-- 문의글 삭제하기 -->
	<delete id="inquiryDelete" parameterType="int">
		delete from board
		where num = #{num}
	</delete>
	
	<!-- 문의글 작성 -> 카테고리 선택 -->
	<select id="selectCategory" parameterType="String" resultType="CartDTO">
		select gCode, gName, gCategory
		from goods
		where gCategory = #{gCategory}
	</select>

<!-- ********** -->
<!-- 후기게시판 SQL -->

	<!-- 후기게시판 전체 리스트 -->
	<select id="reviewList" resultType="BoardDTO" parameterType="hashmap">
		select num, category, title, to_Char(writeday, 'yyyy/mm/dd') writeday, readcnt, userid
		from board
		where state = '상품후기'
		<if test="searchCategory != null">
			and category = #{searchCategory}
		</if>
		<choose>
			<when test="searchName == 'title'">
				and title Like '%' ||  #{searchWord} || '%'
			</when>
			<when test="searchName == 'content'">
				and content Like '%' ||  #{searchWord} || '%'
			</when>
		</choose>
		order by num desc
	</select>
	
	<!-- 후기 게시판 전체리스트 수 -->
	<select id="reviewList_totalCount" parameterType="hashmap" resultType="int">
		select count(*)
		from board
		where state = '상품후기'
		<if test="searchCategory != null">
			and category = #{searchCategory}
		</if>
		<choose>
			<when test="searchName == 'title'">
				and title Like '%' ||  #{searchWord} || '%'
			</when>
			<when test="searchName == 'content'">
				and content Like '%' ||  #{searchWord} || '%'
			</when>
		</choose>
	</select>
	
</mapper>