<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.GoodsMapper">

	<insert id="insertGoods" parameterType="GoodsDTO">
		insert into
		goods(gCode,gCategory,gName,gPrice,gImage,gContent_image,gAmount,sellerId)
		values(#{gCode},#{gCategory},#{gName},#{gPrice},#{gImage},#{gContentImage},#{gAmount},#{sellerId})
	</insert>

	<select id="selectAllGoods" resultType="GoodsDTO">
		select gCode,gCategory,gName,gPrice,gImage,gContent_image,gAmount,sellerId
		from goods
	</select>
	<select id="selectByCategory" parameterType="string" resultType="GoodsDTO">
		select gCode,gCategory,gName,gPrice,gImage,gContent_image,gAmount,sellerId
		from goods
		where category = #{category} 
	</select>

</mapper>