<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.MyPageMapper">

<select id="logintomypage" resultType="MemberDTO" parameterType="string">
select userid, username, passwd, email, phone,gender,
	   birthday, post1, post2, addr1, addr2, ox, sessionid, sessionlimit
from joinmember
</select>

<select id="mypageuserinfo" resultType="MemberDTO" parameterType="string">
select userid, username, passwd, email, phone,gender,
	   birthday, post1, post2, addr1, addr2, ox, sessionid, sessionlimit
from joinmember
where userid=#{userid}

</select>

<update id="updateuserinfo" parameterType="MemberDTO">
update joinmember
set passwd=#{passwd}, email=#{email}, phone=#{phone},
	   post1=#{post1}, post2=#{post2}, addr1=#{addr1}, addr2=#{addr2}
where userid=#{userid}

</update>

<select id="myPageBoardList" parameterType="string" resultType="BoardDTO">
select num, category, title, content, 
to_char(writeday, 'mm/dd') "writeday", readcnt, userid, gcode, state
from board
where userid=#{userid}
</select>

<select id="myPageBoardRetrieve" parameterType="int" resultType="BoardDTO">
select num, category, title, content, 
to_char(writeday, 'mm/dd') "writeday", readcnt, userid, gcode, state
from board
where num=#{num}
</select>


	
</mapper>